AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: true
CompactNamespaces: true
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseTab: Never
