a.out*
input*
output*
answer*
*.o
*.pyc
gen-*
gencpp-*
gendebug-*

.*.swp
.DS_Store
.ccls-cache

setup/atom/*
!setup/atom/snippets.cson

Template/bazel-bin
Template/bazel-out
Template/bazel-Template
Template/bazel-testlogs
