"*":
  "atom-beautify":
    cpp:
      beautify_on_save: true
      default_beautifier: "clang-format"
    crystal: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-debugger":
      showDebuggerOnBpSet: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
  "atom-material-ui":
    colors:
      paintCursor: true
    tabs:
      compactTabs: true
      noTabMinWidth: true
      stretchedTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    colorProfile: "srgb"
    disabledPackages: [
      "terminal-plus"
      "linter"
      "vk-terminal"
    ]
    packagesWithSnippetsDisabled: [
      "language-c"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 10
    invisibles: {}
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "62b1780e-825d-4f55-a435-fb09fafb11e5"
  "file-icons":
    onChanges: true
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-diff":
    showIconsInEditorGutter: true
  "ide-ccls":
    cclsPath: "/Users/jialinouyang/ICPC/setup/ccls"
    enableSemanticHighlighting: true
    indexOnChange: true
  "linter-gcc":
    gccLintOnTheFly: true
  "linter-gcc2":
    gccErrorLimit: -1
  "linter-ui-default":
    panelHeight: 219
    showPanel: true
