namespace {

{{> floor_div}}

} // namespace

template <typename T> class {{minmax.cap}}ConvexHullTricksAdd{{incdec.cap}} {
private:
  class Line {
  public:
    T a, b, x;

    inline Line(T a_, T b_, T x_) : a(a_), b(b_), x(x_) {}
  };

  vector<Line> lines;

public:
  inline void init(int n = -1) {
    lines.clear();
    if (n > 0) {
      lines.reserve(n);
    }
  }

  inline void add(T a, T b) {
    static T inf = numeric_limits<T>::{{reverse.inf}}();
    if (lines.empty()) {
      lines.emplace_back(a, b, inf);
      return;
    }
    const auto& lastLine = lines.back();
    if (lastLine.a == a) {
      if (b {{{minmax.cmp}}} lastLine.b) {
        lines.pop_back();
      } else {
        return;
      }
    }
    T x = inf;
    while (!lines.empty()) {
      const auto &line = lines.back();
      x = floorDiv(b - line.b, line.a - a);
      if (lines.size() == 1 || line.x {{{reverse.cmp}}} x) {
        break;
      }
      lines.pop_back();
    }
    lines.emplace_back(a, b, x);
  }

  {{#reverse.v}}
  inline const Line &queryLine(T x) const {
    return *(
        lower_bound(lines.begin(), lines.end(), x,
                    [](const Line &line, const T x_) { return line.x >= x_; }) -
        1);
  }
  {{/reverse.v}}
  {{^reverse.v}}
  inline const Line &queryLine(T x) const {
    return *(
        upper_bound(lines.begin(), lines.end(), x,
                    [](const T x_, const Line &line) { return x_ <= line.x; }) -
        1);
  }
  {{/reverse.v}}

  inline T query(T x) const {
    if (lines.empty()) {
      static T inf = numeric_limits<T>::{{minmax.-inf}}();
      return inf;
    }
    const auto &line = queryLine(x);
    return line.a * x + line.b;
  }

  inline int size() const { return static_cast<int>(lines.size()); }

  {{#reverse.v}}
  inline typename vector<Line>::reverse_iterator begin() { return lines.rbegin(); }
  inline typename vector<Line>::reverse_iterator end() { return lines.rend(); }
  inline typename vector<Line>::iterator rbegin() { return lines.begin(); }
  inline typename vector<Line>::iterator rend() { return lines.end(); }
  {{/reverse.v}}
  {{^reverse.v}}
  inline typename vector<Line>::iterator begin() { return lines.begin(); }
  inline typename vector<Line>::iterator end() { return lines.end(); }
  inline typename vector<Line>::reverse_iterator rbegin() { return lines.rbegin(); }
  inline typename vector<Line>::reverse_iterator rend() { return lines.rend(); }
  {{/reverse.v}}
};
